
@import "../../../../../node_modules/bulma/bulma.sass";



@import "../../../../../node_modules/bulma-extensions/bulma-accordion/src/sass/index.sass";


body {
 
  //margin-top:0px;
   background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
  
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;   
    
}

